.menusLeft {
    position: sticky; 
    flex-shrink: 0;      
    top: 0;
    left: 0;
    width: 4.1%;        
    height: 100vh;       
    background: #c7c7c7;
    align-items: flex-start;
    transition: width 0.6s ease-in-out, background 0.4s;
    z-index: 1000;
    box-shadow: -7px 0px 16px #ffffff;
    overflow: hidden;
}
.menusRight {
    position: sticky;    
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 20%;       
    height: 100vh;       
    background: #22282c;
    align-items: flex-start;
    transition: width 0.6s ease-in-out, background 0.4s;
    z-index: 1000;
    box-shadow: -7px 0px 16px #ffffff;
    overflow: hidden;
}

.wrapper {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    min-height:100vh;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .menusLeft, .menusRight {
    width: 100%;
    position: static;
  }
}
.menusLeft:hover {
    width: 15.8%;         
}

.backgroundMENU {
    background-color: #22282c;
    padding: 20px 10%;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.6),
                inset 0px 0px 3px rgb(18 50 58);
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: flex-start;
    height: 100%;             
}



.menuICO{
    display: flex;
    margin: 0;
    border-radius: 10px;
    padding-right: 10px;
    height: 85px;
    align-items: center;
    padding-left: 3px;
    margin-bottom: 10px;
}
.menuICO:hover{
  background-color: rgb(77, 86, 99);
    transition: 1s;
    width: 100%;
    
}
.menu-text {
    align-items: center;
    color: white;
    margin-left: 17px;
    opacity: 0;           
    white-space: nowrap;  
    transition: opacity 0.8s ease; 
    font-weight: bold;
    margin-top: -4px;

}
.menusLeft:hover .menu-text{
    width: 230px;
    opacity: 1;
}
.containers{
    display: flex;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    justify-content: center;
    min-width: 0;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: auto !important;
    background-color: #f7f7f7;
    flex-direction: column;
}

.carousels {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-left: 128px;
}

/* CARDS PRODUTOS */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
    flex-direction: row;
    align-self: center;
}

.column {
    box-sizing: border-box;
    padding: 6px;
    position: relative;
}

.card {
    box-shadow: 0 6px 12px rgb(247 247 247);
    padding: 6px;
    background: linear-gradient(135deg, #f5f7fa, #dedede);
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease;
    width: 423px;
    height: 160px;
    z-index: 1;
}

.add-card {
  background-color: #f0f0f0;
  color: #333;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card:hover {
  background-color: #ddd;
}



.card:hover {
  transform: scale(1.03);
}

.cardImg {
    width: 152px;
    height: 146px;
    border-radius: 30px;
    background-position: center;
    margin-bottom: 0px;
    border: 3px solid #1f2d3f1f;
}

.infoProducts{
    position: relative;
    overflow: hidden;
    padding-left: 7px;
    width: 153px;
    height: 173px;
    margin-top: 21px;
}
.infoProducts h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 27px;
    -webkit-line-clamp: 1;
    -webkit-box-direction: normal;
    word-wrap: break-word;
}


.infoProducts p {
    font-size: 13px;
    color: #555;
    margin: 1px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
    word-wrap: break-word;
    margin-top: -5px;
    position: fixed;
}


.infoTooltip {
    display: none;
    position: fixed;
    top: -3px;
    left: 4%;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10032;
    margin-top: -84px;
    transform: translate(0%, 0);
    height: auto;
    white-space: normal;
    overflow: visible;
    max-width: 429px;
    word-wrap: break-word;

}


.infoTooltip:hover{
  display: block;
  animation: fadeIn 0.6s ease-in-out;
}
.infoProducts h3:hover ~ .infoTooltip,
.infoProducts p:hover ~ .infoTooltip {
  display: block;
  animation: fadeIn 0.6s ease-in-out;
}
.infoTooltip h4,
.infoTooltip p {
    display: block;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
    max-width: 600px;
    position: relative;
    width: auto;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
}

/* animação suave */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-700px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}



.buttonDEL {
    background-color: #538ba7ab;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    margin-left: 379px;
    margin-top: 117px;
    height: 28px;
    width: 26px;
    display: none;
}
.buttonSTOC{
    background-color: #b1cddbb8;
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    margin-top: -10px;
    transition: background-color 0.3s ease;
    margin-left: 191px;
    position: fixed;
    width: 60px;
    height: 20px;
    font-size: 13px;
    display: none;
}
.card:hover .buttonSTOC{
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}
.card:hover .buttonDEL{
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

button:hover {
      background-color: #661e1e;
}

.estoque-form {
    background-color: #8784843b;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    margin-left: 47px;
    margin-top: -10px;
}


@media screen and (max-width: 600px) {
  .column {
    flex: 1 0 100%;
  }
}

.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal-content input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.imgdel{
    width: 25px;
    position: fixed;
    margin-left: -13px;
    margin-top: -13px;
}
.stock1{
  position: fixed;
    margin-left: 134px;
    margin-top: -34px;
    background-color: #9bd7553d;
    border-radius: 12px;
    text-align: center;
    color: #65a325;
    width: 118px;
    font-weight: 400;
    font-size: 14px;
}

.price1{
    position: fixed;
    margin-top: 81px;
    margin-left: 0px;
    font-weight: 600;
    font-size: 19px;
    color: #3c4678;
}
.image-form{
    position: fixed;
    margin-top: -378px;
    margin-left: 57px;
    height: 352px;
    background: linear-gradient(135deg, #f5f7fa, #dededed9);
    z-index: 1000000;
    border-radius: 3px;
    animation: fadeIn 0.5s ease-in-out;
    border-left: 3px solid #2733394f;
    border-right: 3px solid #27333973;
    border-bottom: 2px solid #27333982;
}
.search-card{
    width: 300px;
    border: 1px solid;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-results{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 10px;
    max-width: 100%;
    overflow-y: hidden;
    scrollbar-width: thin;
    width: 300px;
    height: 184px;
    scroll-behavior: smooth;
    margin-top: 11px;
    margin-bottom: 17px;
    background: #c9d5db;
}
.search-card img {
  height: 100%;              
  border-radius: 8px;
  object-fit: cover;          
}

.image-form h3{
    text-align: center;
    background-color: #273339;
    color: #f7f7f7;
    height: 46px;
    padding-top: 7px;
    font-family: inherit;
}
.othersconteiner{
    width: 100%;
}
