*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  zoom: 100%;
  transform: scale(1);
  transform-origin: 0 0;

}